Repository varnishcache/varnish-cache, pull requests merged in 2019-11, with the labels that each got.

#3124 Allow non-literal negative VCL expressions
  bin/varnishtest/tests/v00019.vtc
  bin/varnishtest/tests/v00020.vtc
  lib/libvcc/vcc_expr.c
Labels: b=enhancement, c=varnishd, r=trunk

#3122 Add Ctrl-f and Ctrl-b for pagedown/up in varnishstat.
  bin/varnishstat/varnishstat_curses.c
  doc/sphinx/reference/varnishstat.rst
Labels: b=enhancement, c=varnishstat, r=trunk

#3132 Correct WS allocation in tlv_string
  lib/libvmod_proxy/vmod_proxy.c
Labels: b=bug, c=vmod, r=6.0, r=trunk
