Repository varnishcache/varnish-cache, pull requests merged in 2020-01, with the labels that each got.

#3187 Don't ignore OA_GZIPBITS if there is a boc
  bin/varnishd/cache/cache_gzip.c
  bin/varnishtest/tests/g00005.vtc
Labels: a=OK'ed, b=bug, c=varnishd, r=6.0, r=trunk

#3185 Don't report send timeouts as REM_CLOSE errors
  bin/varnishd/http1/cache_http1.h
  bin/varnishd/http1/cache_http1_deliver.c
  bin/varnishd/http1/cache_http1_fetch.c
  bin/varnishd/http1/cache_http1_line.c
  bin/varnishtest/tests/s00010.vtc
Labels: a=OK'ed, b=enhancement, c=varnishd, r=trunk

#2983 Add vcl control over timeout_linger, send_timeout, idle_send_timeout
  bin/varnishd/cache/cache.h
  bin/varnishd/cache/cache_session.c
  bin/varnishd/cache/cache_vrt_var.c
  bin/varnishd/http1/cache_http1_deliver.c
  bin/varnishd/http1/cache_http1_fsm.c
  bin/varnishd/http2/cache_http2_proto.c
  bin/varnishtest/tests/b00068.vtc
  bin/varnishtest/tests/c00070.vtc
  bin/varnishtest/tests/s00010.vtc
  bin/varnishtest/tests/s00012.vtc
  doc/sphinx/reference/vcl_var.rst
Labels: a=OK'ed
