Repository varnishcache/varnish-cache, pull requests merged in 2020-10, with the labels that each got.

#3426 vmod: Objects can have methods named like constructors
  bin/varnishtest/tests/m00000.vtc
  doc/sphinx/reference/vmod.rst
  lib/libvmod_debug/vmod_debug.vcc
  lib/libvmod_debug/vmod_debug_obj.c
Labels: c=doc, c=vmod, r=trunk

#3409 vsb: Harden destroy and fini operations
  lib/libvarnish/vsb.c
Labels: a=RunByUPLEX, b=enhancement, c=varnishapi, r=trunk

#3432 directors: Optional weight in hash::add_backend()
  bin/varnishtest/tests/d00003.vtc
  lib/libvmod_directors/vmod_directors.vcc
Labels: b=enhancement, c=vmod, r=6.0, r=trunk

#3431 http: Record which peer wants to close the session
  bin/varnishd/cache/cache.h
  bin/varnishd/cache/cache_http.c
  bin/varnishd/cache/cache_req_fsm.c
  bin/varnishd/http1/cache_http1_fetch.c
  bin/varnishd/http2/cache_http2_deliver.c
Labels: b=enhancement, c=varnishd, r=trunk

#3429 vslc: New mmap cursor type for regular files
  lib/libvarnishapi/vsl_cursor.c
Labels: b=enhancement, c=varnishapi, r=6.0, r=trunk

#3439 fix signal handling in VUT
  lib/libvarnishapi/vut.c
Labels: r=trunk
