Repository varnishcache/varnish-cache, pull requests merged in 2021-11, with the labels that each got.

#3438 Clear vut->sighup even if sighup_f is not defined
  lib/libvarnishapi/vut.c
Labels: r=6.0

#3617 Increase default stack space
  bin/varnishd/mgt/mgt_param.c
  doc/changes.rst
  include/tbl/params.h
Labels: r=6.0

#3716 vsl: Give up when it's too late to buffer records (6.0)
  lib/libvarnishapi/vsl_dispatch.c
Labels: c=varnishapi, r=6.0

#3717 Offer a configure --with-unwind switch (6.0)
  .travis.yml
  bin/varnishd/Makefile.am
  bin/varnishd/cache/cache_panic.c
  configure.ac
Labels: b=enhancement, c=build, c=varnishd, r=6.0

#3718 cli: New debug.shutdown.delay command
  bin/varnishd/cache/cache_main.c
  include/tbl/cli_cmds.h
Labels: b=enhancement, r=trunk, c=varnishd

#3739 build: Use libunwind if available at configure time
  configure.ac
Labels: b=enhancement, r=trunk, c=build, r=6.0

#3746 std.ip: Always provide some form of fallback
  vmod/vmod_std_conversions.c
Labels: b=bug, r=trunk, c=vmod, r=6.0

#3745 Fix unnecessary log buffer flushing
  bin/varnishd/cache/cache_shmlog.c
  include/vapi/vsl_int.h
Labels: b=enhancement, r=trunk, c=varnishd, r=6.0

#3748 std.ip: Always provide some form of fallback (6.0)
  lib/libvmod_std/vmod_std_conversions.c
Labels: b=bug, c=vmod, r=6.0
