Repository varnishcache/varnish-cache, pull requests merged in 2021-01, with the labels that each got.

#3486 add `std.ban()` for vcl access to ban errors
  bin/varnishd/cache/cache_vrt.c
  bin/varnishtest/tests/v00009.vtc
  bin/varnishtest/tests/v00011.vtc
  include/vrt.h
  lib/libvcc/vcc_action.c
  lib/libvmod_std/vmod_std.c
  lib/libvmod_std/vmod_std.vcc
Labels: a=RunByUPLEX

#3499 varnishncsa: log request time in milliseconds
  bin/varnishncsa/varnishncsa.c
  doc/sphinx/reference/varnishncsa.rst
Labels: b=enhancement, c=varnishncsa, r=trunk

#3451 vsl: Give up when it's too late to buffer records
  lib/libvarnishapi/vsl_dispatch.c
Labels: a=RunByUPLEX, b=bug, c=varnishapi, r=6.0, r=trunk
