Repository varnishcache/varnish-cache, pull requests merged in 2023-12, with the labels that each got.

#4025 doc: Use a raw string for regular expressions
  doc/sphinx/vtc-syntax.py
Labels: r=trunk, c=build, c=doc, r=6.0, b=cleanup, r=7.3, r=7.4

#3563 acl +fold
  bin/varnishtest/tests/c00005.vtc
  doc/sphinx/reference/vcl.rst
  include/tbl/vsl_tags.h
  lib/libvcc/vcc_acl.c
Labels: b=enhancement, r=trunk, c=varnishd, a=RunByUPLEX

#4005 h2: the :scheme pseudo header is not optional
  bin/varnishd/http2/cache_http2.h
  bin/varnishd/http2/cache_http2_hpack.c
  bin/varnishd/http2/cache_http2_proto.c
  bin/varnishtest/tests/t02026.vtc
Labels: b=bug, c=H/2, r=6.0

#4024 req_fsm: Use status 408 for reset streams
  bin/varnishd/cache/cache_req_fsm.c
  bin/varnishtest/tests/t02025.vtc
  doc/sphinx/reference/vsl.rst
Labels: b=enhancement, r=trunk, c=varnishd, c=H/2, r=6.0, r=7.3, r=7.4

#4027 req_fsm: Use status 408 for reset streams (6.0)
  bin/varnishd/cache/cache_req_fsm.c
  bin/varnishtest/tests/t02025.vtc
  doc/sphinx/reference/vsl.rst
Labels: b=enhancement, c=doc, c=H/2, r=6.0
